<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>DOTA 2 Replay Manager</title>
    <meta name="description" content="DOTA 2 Replay Manager">
    <meta name="author" content="Pavel Yarmak">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/jquery-ui/jquery-ui.min.css">
</head>

<body ng-controller="MainAppController">

<div id="modal">
    <div class="modalWrapper">
        <div class="controls">
            <i class="fa fa-close"></i>
        </div>
        <div class="header">
            Title
        </div>
        <div class="content">
            Content
        </div>
        <div class="footer">
            Footer
        </div>
    </div>
</div>

<header>
    <div class="logo pullLeft">
        DOTA 2 Replay Manager
        <span class="version">v{{version}}</span>
    </div>
    <ul class="windowControls" ng-controller="windowController">
        <li class="fa fa-minus" ng-click="minimizeWindow()"></li>
        <li class="fa fa-plus" ng-click="expandWindow()"></li>
        <li class="fa fa-close" ng-click="closeWindow()"></li>
    </ul>
</header>

<aside class="pullLeft">
    <div class="sideMenuWrapper">
        <ul class="sideMenu main">
            <li class="sideMenuItem" ng-class="{ active : getLocationPath('/home') }">
                <a href="index.html#/home">
                    <i class="fa fa-gamepad"></i> Match History
                </a>
            </li>
            <li class="sideMenuItem" ng-class="{ active : getLocationPath('/players') }">
                <a href="index.html#/players">
                    <i class="fa fa-users"></i> Tracked Players
                </a>
            </li>

            <li class="sideMenuSeparator"></li>

            <li class="sideMenuItem" ng-class="{ active : getLocationPath('/history') }">
                <a href="index.html#/history">
                    <i class="fa fa-history"></i> History
                </a>
            </li>
            <li class="sideMenuItem" ng-class="{ active : getLocationPath('/settings') }">
                <a href="index.html#/settings">
                    <i class="fa fa-cog"></i> Settings
                </a>
            </li>
            <li class="sideMenuItem" ng-class="{ active : getLocationPath('/donate') }">
                <a href="index.html#/donate">
                    <i class="fa fa-money"></i> Donate
                </a>
            </li>

            <li class="sideMenuSeparator"></li>

            <li class="sideMenuItem" ng-class="{ active : getLocationPath('/newplaylist') }">
                <a href="index.html#/newplaylist">
                    <i class="fa fa-plus-square"></i> New Playlist
                </a>
            </li>
        </ul>

        <ul ui-sortable="sortableOptions" ng-model="playlists" class="sideMenu playlists">
            <li playlist-context-menu class="sideMenuItem" ng-repeat="playlist in playlists"
                ng-class="{ active : getLocationPath('/playlist/' + playlist._id) }">
                <a href="index.html#/playlist/{{ playlist._id }}">
                    <i class="fa fa-align-justify"></i> {{ playlist.name }}
                </a>
            </li>
        </ul>
    </div>
</aside>

<section class="pullLeft">
    <div class="currentPage" ng-controller="currentPageController as page">
        <div class="currentPageHeader">
            <span class="Btn fa fa-2x fa-arrow-circle-o-left" title="Back" ng-click="page.clickBack()"></span>
            <span class="Btn fa fa-2x fa-arrow-circle-o-right" title="Forward" ng-click="page.clickForward()"></span>

            <div class="page-header"><h3>{{page.title}}</h3></div>
        </div>
        <div class="currentPageContainer container-fluid" ng-view ng-cloak></div>
    </div>
</section>

<script src="assets/js/jquery-2.1.3.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-resource/angular-resource.min.js"></script>
<script src="node_modules/angular-animate/angular-animate.min.js"></script>
<script src="node_modules/angular-route/angular-route.min.js"></script>
<script src="node_modules/angular-loading-bar/build/loading-bar.min.js"></script>
<script src="assets/js/angular-translate.min.js"></script>
<script src="assets/js/sortable.js"></script>
<script>
    angular.element(document).ready(function () {
        if (location.search.indexOf("test=protractor") > -1) {
            window.name = 'NG_DEFER_BOOTSTRAP!' + window.name;
        }
        document.body.setAttribute('ng-app', 'D2RM');
        angular.bootstrap(document, ['D2RM']);
    });
</script>
<script src="assets/js/main.js"></script>
<script src="assets/js/move.min.js"></script>
</body>
</html>