$grayButton : #e2e2e2;

.formWrapper
{
  margin: 10px;
  width: 75%;

  &.centered
  {
    margin: 10px auto;
  }

  .inputGroup
  {
    margin-bottom: 10px;
    label
    {
      text-align: right;
      display: inline-block;
      margin-right: 11px;
      font-family: $mainFontPack;
      font-size: 13px;
      color: #848484;
      vertical-align: top;
      line-height: 25px;

      &:after
      {
        content: ":";
        margin-left: 2px;
      }
    }

    .form-control
    {
      height: inherit;
    }

    .input-group {
      width: calc(100% + 27px);
      .input-group-btn > .btn {
        z-index: 3;
      }
    }
  }
}

.toggleSwitch
{
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;

  & + label
  {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    padding: 2px;
    width: 40px !important;
    height: 21px;
    background-color: #CFCFCF;
    border-radius: 60px;
    transition: background 0.4s;
    &:before,
    &:after
    {
      display: block;
      position: absolute;
      content: "" !important;
    }

    &:before
    {
      top: 2px;
      left: 2px;
      bottom: 2px;
      right: 2px;
      background-color: #fff;
      border-radius: 60px;
      transition: background 0.4s;
    }

    &:after
    {
      top: 4px;
      bottom: 4px;
      width: 17px;
      background-color: #CFCFCF;
      border-radius: 52px;
      transition: margin 0.4s, background 0.4s;
    }
  }

  &:checked + label
  {
    background-color: $mainRed;

    &:after
    {
      margin-left: 17px;
      background-color: $mainRed;
    }
  }
}