extend layout
    
block content
  .row
    .col-md-12
      .error-image
        h2
          span Error:
          br
          span= message? message : "Sorry, we couldn't find that!"
        //img(src='http://fc08.deviantart.net/fs70/i/2013/049/e/c/dota_2_fan_art___apples_require_a_delicate_touch_by_jeffufu-d5vf65k.jpg')