div.container(style="padding: 0px;")
  block content

  .footer
    p Created by Pavel Yarmak.
    p Dota 2 and all related materials are property of Valve.
script.
  $('#Spinner').css('display', 'none');