extend player
block playercontent
  script.
    var data = !{JSON.stringify(table)};
    $('.dataTable').dataTable({
      "data": data,
      "order": [[0, "desc"]],
      "deferRender": true,
      "aoColumnDefs": [
        { "sClass": "hero", "aTargets": [ 1 ] }
      ],
      "createdRow": function ( row, data, index ) {
        if ( data[2] == "Won" ) {
          $(row).addClass('success');
        } else {
          $(row).addClass('danger');
        }
      }
    });
  h3 Matches
  table.table#playerMatchesTable.dataTable
    thead
      tr
       th Match ID
       th Hero
       th Result
       th Game Mode
       th Duration
       th Played
       th K
       th D
       th A
       th LH
       th DN
       th GPM
       th XPM
       th HD
       th TD
       th Status
       th Saved