extend player
block playercontent
  script.
    var data = !{JSON.stringify(table)};
    $('.dataTable').dataTable({
      "data": data,
      "autoWidth": false,
      "order": [[0, "asc"]],
      "deferRender": true,
      "aoColumnDefs": [
        {"sClass": "hero", "aTargets": [0]}
      ]
    });
    heroPieGraph.init();
  h3 Heroes
  .row
    .col-lg-4
      p.hero-pie-description Click center to zoom out. Click arcs to zoom in.
      #hero_pie_container
    .col-lg-8
      table.table#heroes.dataTable
       thead
         tr
           th Hero
           th Games
           th Wins
           th Losses
           th Winrate